
movies

.Trash*/
lost+found/

arch/
arch*
*[Aa][Rr][Cc][Hh]*

*[Pp][Rr][Ii][Vv]*
*[Ii][Gg][Nn][Oo][Rr][Ee]*
*[Ss][Ee][Cc][Rr][Ee][Tt]*

!.gitignore
!.bidsignore

logs/
*.log

*~
*.~undo-tree
*.~undo-tree~.zst
.#*
..#*
[#]*[#]

*.elc
.cask

.auctex-auto/
_minted-*/
*.synctex.gz
*.bbl
*.pyg

__pycache__/
.ipynb_checkpoints/
.ob-jupyter/

*.pkl
*.pickle
*.model

.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rds
*.rds
*.Rda
*.rda
*.RDat
*.Rdat
*.rdat
*.RData
*.Rdata
*.rdata
